<% include headerAdmin.ejs %> 
            
            <div id="layoutSidenav_content">
                 <main>
                        <div class="addt_new_item ml-5 mr-4 "><!--Bảng thêm tin tức-->
                            <h3>Thêm nội dung tin tức </h3>
                            <label for="noteContent">Album ảnh tin tức</label>
                            <form action="/UpNews" method="post" class="formUpload" >
                            <% if(success_msg != '') { %>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <%= success_msg %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <% } %>
                            <div id="drag-drop-area"></div>
                            <input type="hidden" name="files" id="files" class="files">
                            <div class="form_img">
                            </div>
                            <script>
                                const XHRUpload = Uppy.XHRUpload;// Định nghĩa biến cho plugin  XHRUpload của uppy, cho phép tải ảnh lên
                                let imgs = [];

                                var uppy = Uppy.Core()
                                .use(Uppy.Dashboard, { /* darhboard giao diện*/
                                    inline: true,
                                    target: '#drag-drop-area'
                                })
                                .use(XHRUpload, {
                                    endpoint: '/uploadfile' //Đường dẫn tới folder chứa ảnh sau khi upload
                                });

                                uppy.on('complete', (result) => { //sau khi upxong 
                                imgs = [
                                    ...imgs, 
                                    ...result.successful.map(item => item.response.body[0].filename)
                                ];
                                document.getElementsByName('files')[0].value  += ',' + imgs.toString(',');
                                })
                                

                            </script>

                            <div class="form-group">
                                <label for="noteTitle" name="title_news_intro">Tiêu đề giới thiệu tin tức</label>
                                <input type="text" class="form-control" name="title_news_intro"  aria-describedby="" >
                                <label for="noteContent">Nội dung tin tức</label>
                                <textarea name="editor1" cols="80" rows="10" id="editor1" ></textarea> 
                                <script>
                                     var a=CKEDITOR.replace( 'editor1',{ "extraPlugins" : 'imagebrowser',"imageBrowser_listUrl" : "/files"});
                                     a.on('change',function(){ //bắt sự kiện khi Ckeditor thay đổi nội dung
                                    
                                        document.getElementById('editor1').value = a.getData(); //thì nôi dung của Ckeditor được gán cho value của textArea để cập nhật cho TextArea

                                     });
                               </script> 
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-3" class="submit_Add_News">Thêm vào</button>
                        </form>
                        </div>
                   </main>
                   <footer class="py-4 bg-light mt-auto ml-4">
                    <div class="container-fluid">
                        <p>Được phát triển bởi D2HPhone team</p>
                    </div>
                </footer>
                </div>
        
        
    </body>
</html>
