<% include headerAdmin.ejs %> 
            <div id="layoutSidenav_content">
                <div class="div_wel">
                    <h3 class="text-center wel_admin"> WellCome</h3>
                    <h3 class="text-center  wel_admin">D2HPhone Admin</h3>
                </div>
                  
                <footer class="py-4 bg-light mt-auto ml-4">
                    <div class="container-fluid">
                        <p>Được phát triển bởi D2HPhone team</p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
