

<% include libaryHtml.ejs %>


</head>
  <body>
	<div class="container dang_nhap">
   
			<div class="HinhVuong1 wow fadeInUp">

            </div>
            <div class="HinhVuong2 wow fadeInDown">
    
            </div>
			<div class="social">
            
            </div>
			<form action="/users/login" method="post" class="beta-form-checkout wow zoomIn">
				
				<div class="formdangnhap">
					
					<div class="formdangnhap1">
						<h4 class="text-center h4DangNhap ">Đăng nhập</h4>
					
						<div class="form-block">
							<label for="email"class="email">Email</label>
							<input style="border-radius: 4px;border: 1px solid #ccc;"type="email" id="email" name="Email" required>
						</div>
						<div class="form-block form_pass">
							<label for="phone"class="password">Mật khẩu</label>
							<input style="border-radius: 4px;border: 1px solid #ccc;" type="password" id="phone" name="Password" required>
						</div>	

						<div class="login_or_forgotPass">
							<div class="row">
								<div class="col-6">
									<button class="btn btn-primary" type="submit ">Đăng nhập</button>
								</div>
								<div class="col-6">
									<a class="forgot_password"href="/users/forgot"><p>Quên mật khẩu ?</p></a>
								</div>
							</div>
						</div>
						
						<div  class="login_FB_GG mb-2"> <!--Khối đăng nhập bằng fb,gg-->
							<div class="space20">&nbsp;</div>
							<% include ./partials/messages %>
							<div class="row">
								<div class="col-6">
									<button style="background-color:#3B5998; color:white; width:100%;" class="fb white btn "><i class="fab fa-facebook-f white"></i> 
										<a class="login_social" style=" color:white; font-size:17px;"href="/auth/fb">Sign in with Facebook</a>
									</button>
								</div>
								<div class="col-6">
									<button  style="background-color:#EA4335; color:white; width:100%;" class="gg white btn "><i class="fab fa-google-plus-g white"></i>
										<a class="login_social" style=" color:white;  font-size:17px;" href="/auth/gg">Sign in with Google+</a>
									</button>
								</div>
							</div>	
						</div><!--End Khối đăng nhập bằng fb,gg-->
                      <div class="Back_or_Next"> <!--Khối quay trở về trang chủ or chuyển qua trang tạo tài khoản-->
						  <div class="row">
							<div class="col-6">
								<a href="../"class="quaytrove"><p><i class="fas fa-backward"></i>  Trở về trang chủ</p></a>
							  </div>
							  <div class="col-6">
								<a href="/users/register"class="quaytrove"><p>Chưa có tài khoản? <i class="fas fa-forward"></i></p></a>
							</div>
						  </div>
					  </div>
					</div><!--End Khối quay trở về trang chủ or chuyển qua trang tạo tài khoản-->
				</div>
			</form>
		
	</div> 
  </body>
</html>