<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/31b5a77c7b.js" crossorigin="anonymous"></script> <!-- Nhúng font-Awesome -->

	<!--Link CSS-->
	<link rel="stylesheet" href="/stylesheets/style.css">

	<!--Link JS-->
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<link type="text/css" rel="stylesheet" href="/JQueryLightSlider/css/lightslider.css" /> <!--nhúng jquery Slider-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/JQueryLightSlider/js/lightslider.js"></script>
    
    <link rel='stylesheet' href='https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css'><!-- thư viện tạo hiệu ứng cho css-->
	<script src='https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js'></script><!-- thư viện tạo hiệu ứng chuyển động viết bằng js-->
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@750&display=swap" rel="stylesheet"> <!--google font-->
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"><!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="styleshee">
</head>
  <body>
      <!--Menu-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--menu-->
        <img src="/img/65680.png" width="40px"height="40px"></li>
                <a class="navbar-brand"  href="index.html">D2HPhone</a></li>
           
        
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="List.html">Iphone</a>
								<a class="dropdown-item" href="List.html">Samsung</a>
								<a class="dropdown-item" href="List.html">Oppo</a>
								<a class="dropdown-item" href="List.html">Sony</a>
								<a class="dropdown-item" href="List.html">Xiaomi</a>
								<a class="dropdown-item" href="List.html">Nokia</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="NoiBat.html">Nổi bật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="GiamGia.html">Giảm giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="DiemTin.html">Điểm tin</a>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search...">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                    </form>
                </li>
                
            </ul>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
            <a class="nav-link icon_user " href="DangNhap.html" id="userIcon" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/img/user.png " width="50px" height="40px"alt="">
                <p class="account mr-2 d-none d-lg-inline">Tài khoản</p>
            </a>
        </div>
    </nav>    
<!--End Menu-->


<!--Chi tiết-->
<div class="container mt-3">
    <div class="row">
        <div class=""><img src="/img/iphone.png" class="img-fluid"width="250px"height="150px"alt=""></div><!--Logo Thương hiệu-->
        <div class=""><!--danh sách sản phẩm-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                
                        <div class="detail_Sanpham col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-2"><!--item-->
                          <div class="">
                            <a href="ChiTiet.html"><img src="/img/1.jpg"class="img-fluid Anh_San_Pham" ></a>
                            <div class="row index">
                              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <p class="name_Product">Tên sản phẩm</p>
                                <p class="cost_Product"><i class="fas fa-dollar-sign"></i> <span>Giá của sản phẩm</span></p>
                              </div>
                              <div class="Add_to_cart col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            
                                <a href="GioHang.html"><i class="fas fa-cart-plus"></i></a>
                            </div>
                          </div>
                          
                          </div>
                      </div>

                      <div class="detail_Sanpham col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-2"><!--item-->
                          <div class="">
                            <a href="ChiTiet.html"><img src="/img/1.jpg"class="img-fluid Anh_San_Pham" ></a>
                            <div class="row index">
                              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <p class="name_Product">Tên sản phẩm</p>
                                <p class="cost_Product"><i class="fas fa-dollar-sign"></i> <span>Giá của sản phẩm</span></p>
                              </div>
                              <div class="Add_to_cart col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            
                                <a href="GioHang.html"><i class="fas fa-cart-plus"></i></a>
                            </div>
                          </div>
                          
                          </div>
                      </div>
                      <div class="detail_Sanpham col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-2"><!--item-->
                          <div class="">
                            <a href="ChiTiet.html"><img src="/img/1.jpg"class="img-fluid Anh_San_Pham" ></a>
                            <div class="row index">
                              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <p class="name_Product">Tên sản phẩm</p>
                                <p class="cost_Product"><i class="fas fa-dollar-sign"></i> <span>Giá của sản phẩm</span></p>
                              </div>
                              <div class="Add_to_cart col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            
                                <a href="GioHang.html"><i class="fas fa-cart-plus"></i></a>
                            </div>
                          </div>
                          
                          </div>
                      </div>
                      <div class="detail_Sanpham col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-2"><!--item-->
                          <div class="">
                            <a href="ChiTiet.html"><img src="/img/1.jpg"class="img-fluid Anh_San_Pham" ></a>
                            <div class="row index">
                              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <p class="name_Product">Tên sản phẩm</p>
                                <p class="cost_Product"><i class="fas fa-dollar-sign"></i> <span>Giá của sản phẩm</span></p>
                              </div>
                              <div class="Add_to_cart col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            
                                <a href="GioHang.html"><i class="fas fa-cart-plus"></i></a>
                            </div>
                          </div>
                          
                          </div>
                      </div>
                      <div class="detail_Sanpham col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-2"><!--item-->
                          <div class="">
                            <a href="ChiTiet.html"><img src="/img/1.jpg"class="img-fluid Anh_San_Pham" ></a>
                            <div class="row index">
                              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <p class="name_Product">Tên sản phẩm</p>
                                <p class="cost_Product"><i class="fas fa-dollar-sign"></i> <span>Giá của sản phẩm</span></p>
                              </div>
                              <div class="Add_to_cart col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            
                                <a href="GioHang.html"><i class="fas fa-cart-plus"></i></a>
                            </div>
                          </div>
                          
                          </div>
                      </div>
                      <div class="detail_Sanpham col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-2"><!--item-->
                        <div class="">
                          <a href="ChiTiet.html"><img src="/img/1.jpg"class="img-fluid Anh_San_Pham" ></a>
                          <div class="row index">
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                              <p class="name_Product">Tên sản phẩm</p>
                              <p class="cost_Product"><i class="fas fa-dollar-sign"></i> <span>Giá của sản phẩm</span></p>
                            </div>
                            <div class="Add_to_cart col-lg-3 col-md-12 col-sm-12 col-xs-12">
                              <a href="GioHang.html"><i class="fas fa-cart-plus"></i></a>
                          </div>
                        </div>
                        
                        </div>
                    </div>
                    </div>
      
                </div>
               
              
            </div>
        </div>
    </div>

</div>
<!--End Chi tiết-->


  <!--footer-->
<div class="footer">
	<div class="footer_content">
		<div class="row  ">
			<div class="col-lg-4 brand_footer">
				<p id="D2HPhone">D2HPhone</p>
				<p id="D2HPhone1">Luôn mang đến cho bạn những sản phẩm mới nhất</p>
	  
			</div>
			<div class="list_icon_social col-lg-4 container">
				
				<ul>
					<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
					<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
					<li><a href=""><i class="fab fa-twitter"></i></a></li>
					<li><a  href=""><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
	  
			</div>
			<div class="col-lg-4 phone">
				 <p>Alo <i class="fas fa-phone-alt"></i></p>
				  <p>0986622074</p>
			</div>
	  </div>
	</div>
</div>
<!--End footer-->
<!--Nút lên trang đầu-->
<a class="on_top" href="#top" style="display:block;"><i class="fas fa-chevron-up"></i></a>
    
  </body>
</html>