/*----------------Trang tin tá»©c-------------------*/
.btn_Add_news{
    margin-left:40px;
   
}
.time_news_intro{
    font-size: 17px;
    margin-top: 5px;
    color: #00000080;
}
.add_more_News{
    border-radius: 300px;
    font-size:12px;
}
.add_more_News>a{
    font-size:12px;
}
.remove:hover{
    color: red;
    transition: 0.4s;
}
.textAre{
    width: 350px;
}
#remove_content_news{
    margin-left: 10px;
}

.formUpload{
    max-width: 75%;
    max-height: 50%;
}
a.uppy-Dashboard-poweredBy {
    display: none !important;
}
.ContainershowImgUploaded{
    margin-bottom: 150px;
    width: 100%;
    height: 100%;
}
.ShowImageUploaded{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  
}
.remove1{
    margin-top: -17px;
    margin-left: -10px;
    width: 100%;
    height: 100%;
   
} 
.remove1>#remove_content_news1{
  
    color: whitesmoke;
    font-size: 15px;
    background-color: black;
    border-radius:30px;
    border: 1px solid black;
    
}
.wel_admin{
    font-family: 'Merriweather', serif;
    color: #ffc107;
    font-size: 60px;
    
}
.div_wel{
    padding-top: 20%;
}
.ShowImageUploaded{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  
}
.remove11,.remove2,.remove3{
    margin-top: -17px;
    margin-left: -10px;
    width: 100%;
    height: 100%;
   
} 
.remove11>#remove_content_news1{
  
    color: whitesmoke;
    font-size: 15px;
    background-color: black;
    border-radius:30px;
    border: 1px solid black;
    
}
.remove2>#remove_content_news1{
  
    color: whitesmoke;
    font-size: 15px;
    background-color: black;
    border-radius:30px;
    border: 1px solid black;
    
}
.remove3>#remove_content_news1{
  
    color: whitesmoke;
    font-size: 15px;
    background-color: black;
    border-radius:30px;
    border: 1px solid black;
}
/*----------------pagination------------------------*/
.PhanTrang{
    margin-bottom: 20px;
  }
  .pagination{
    margin: auto;
    text-align: center;
    justify-content:center;
  
  }
  .pagination>li{
    padding: 4px 12px;
    border: 1px solid#0000001f;
    margin-left:5px;
    border-radius: 4px; 
  }
  .pagination>li:hover{
    background-color:#007bff96;
  }
  .pagination>li>a:hover{
    text-decoration: none;
  }
  .bolder{
    font-weight: bolder;
}

.bg-lightgray{
    background-color: lightgray !important;
}

  
/*---------------*/