/* max-width: 320px (điện thoại di động, hiển thị chiều dọc)
max-width: 480px (điện thoại di động, hiển thị chiều ngang)
max-width: 600px (máy tính bảng, hiển thị chiều dọc)
max-width: 800px (máy tính bảng, hiển thị chiều ngang)
max-width: 768px (máy tính bảng loại to, hiển thị chiều dọc)
max-width: 1024px (máy tính bảng loại to, hiển thị chiều ngang)
min-width: 1025px (từ size này trở lên là danh cho desktop thông thường). */

/*----------------------TRANG HOME-------------------------------*/
/*Part0- Phần menu */
.btn_submit{
    border-color: #212529;
    color:#212529;
}
.account{
    color:#212529;
}
.btn_submit:hover{
background-color: #212529;
border-color: #212529;
}
.input_Seacrh:focus{
    border-color: #ced4da;
    box-shadow: none;
  }
.fa-shopping-cart{
    color: #212529;
  }
  .activeMenu{
    background-color:#212529 !important;
    font-weight:650 !important;
    border-radius:0 !important;
   
}
.activeMenu>a{
    color: white !important;
}
/*End Part0- Phần menu*/

/*Part1- Phần SLIDE */
.slide_images{
    max-height: 450px;
    object-fit: cover;
    object-position: top;
}
.carousel-caption{
    color: #dee2e6;
}
/*ENdPart1- Phần SLIDE */

/*Part2- khu vực list sản phẩm ở trang chủ */
.Anh_San_Pham{
    height:250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.detail_Sanpham>div{
    border-radius:6px;
    background:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div_name_product{
    padding-left:15px;
}
.index{
    width: 100%;
    margin-left:1px;
}
.fa-cart-plus{
    font-size: 25px;
    color: #212529;
}
.cost_Product{
    background-color: #212529;
    border-radius: 5px;
    text-align: center;
    color: #e9eceffa;
    padding-top:3px;
    padding-bottom:3px;
}
.p_giagoc{
    text-decoration: line-through;
}
.product{
    width: 30%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-left:2%;
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
   -webkit-box-shadow: 5px 5px 5px #666;
   font-family: 'Amatic SC', cursive;
   font-weight: 500;
   color: white;
    
}
.arrow_box {
	position: relative;
	background: #88b7d5;
}

.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 21px;
	margin-top: -21px;
}


.detail{
    clear: both;
}
.GiamGia{
    width: 30%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-left:2%;
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
   -webkit-box-shadow: 5px 5px 5px #666;
   font-family: 'Amatic SC', cursive;
   font-weight: 500;
   color: white;
}

.arrow_box1 {
	position: relative;
	background: #d43b49;
}
.arrow_box1:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #d43b49;
	border-width: 21px;
	margin-top: -21px;
}
.arrow_box3 {
	position: relative;
	background: #39b956;
}
.arrow_box3:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #39b956;
	border-width: 21px;
	margin-top: -21px;
}
@media (max-width:575.5px){
    .Add_to_cart>a>i{
      text-align: center;
      margin-left: 47%;
      margin-right: auto;
      font-size: 35px;
      margin-bottom:15px;
        
    }
}
/*End Part2- khu vực list sản phẩm ở trang chủ */


/* footer */
.footer{
    background-image: url('../images/footer1.jpg');
    background-size: cover; 
}
.footer_content{
    margin-left: 5%;
    margin-right: 5%;
}
.list_icon_social ul{
    list-style: none;
}
.list_icon_social ul li{
    display: inline-block;
    background-color: #39b956;
    width:60px;
    height: 60px;
    text-align: center;
    border-radius:50%;
    margin-left:2%;
    margin-right: 2%;
    padding-top: 6px;
    text-align: center;
    font-size: 30px;
    border: 2px solid white;
    opacity: 0.91;
}
.list_icon_social ul li a i{
    color: white;
    
}

.list_icon_social ul li:hover {
   
    background-color: white;
    transition: 0.4s;
}
.list_icon_social ul li:hover i{
    color: #39b956;
    transition: 0.4s; 
}
.phone{
  
   padding-left: 16%;
}
.fa-phone-alt{
color: white;
}
.phone p{
    font-size:25px;
    color: white;
   text-shadow:-5px 5px 3px rgba(0, 1, 1, 1);
}
#D2HPhone{
    font-weight: 700;
    font-size: 37px;
    font-family: 'Saira Stencil One', cursive;
    text-shadow:-5px 5px 3px rgba(0, 1, 1, 1);
    color: white;
}
#D2HPhone1{
    color: white;
    font-weight:600;
    font-size: 21px;
    text-shadow:-5px 5px 3px rgba(0, 0, 0, 0.7);
    text-align: left;
}
.footer_content{
    padding-top: 35px;
}
/* end footer */


/* xử lý nút lên trang đầu */
a.on_top { 
    opacity:0.6; 
    display: none;
}
a.on_top:hover{
background-color:#212529;
color: #fff;
border: 1px solid #212529;
opacity:1;
}
a.on_top i{ 
    font-size: 30px;
}
a.on_top {
border-radius: 8px;
background-color: #333333;
padding-top: 10px;
padding-bottom: 38px;
padding-left: 20px;
padding-right: 20px;
white-space: nowrap; 
color: #fff;
position: fixed;
bottom: 75px;
right: 30px;
height: 44px;
}

/*end xử lý nút lên trang đầu */
.list{
    display: none;
}

/*---------------END-------TRANG HOME-------------------------------*/




/*================================================================================================================================*/
                              /* Phần NoiBat.html*/
 .NoiBat{
    background-image: url('../images/banner5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Product_sell{
    color: #dfac19;
    font-size:75px;
    font-family: 'Amatic SC', cursive;   
    padding-bottom:60px;
    padding-top: 60px;
}
.list_brand ul{
    padding-top: 14px;
    list-style: none;
    
}
.list_brand ul li{
    border: 1px solid black;
    width: 250px;  
}
.category_hover:hover{
    background-color: #6c757d7a;
    transition:0.4s; 
}
.list_brand ul li p{
    padding-left: 10px;
    padding-top:10px;
    font-weight:550;
    font-size:19px;
}
.fa-chevron-right{
    float: right;
    margin-right:20px;
}
.fa-chevron-right{
    padding-top: 8px;
}
.Category{
    background-color: #dfac19;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-weight:650;
    font-size:25px !important;
}
.chi_tiet{
    margin-left: 20px;
    margin-right: 20px;
   
}

/*=================================================================================*/
             /* GiamGia.html*/
.Product_sale{
        background-image: url('../images/banner_sale.jpg');
}




/*--------Xử lý lọc dữ liệu theo -CATEGORY------*/
.bienmat{
    transition: 0.5s;
    animation:bienmat 1s forwards;
    display: none;
}
.hienra{
   transform: 1s;
    animation:hienra 1s forwards;   
}
@-webkit-keyframes hienra{
    from{
        transform:scaleY(0);
        opacity: 0;
       
   }
   to{
       transform:scaleY(1);
       opacity: 1;
   }
}
/*------END--Xử lý lọc dữ liệu theo -CATEGORY------*/


/*------------------------Trang ListBrand and product----------------*/
.brandAndProduct{
    display: flex;

}
.login_social:hover{
    text-decoration: none;
}
.anh_sanpham{
    border-radius:25px;   
}
.account:hover{
    text-decoration: none;
    color: #004085;
}
/*----------------------END--Trang ListBrand and product----------------*/


/*----------------pagination------------------------*/
.PhanTrang{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pagination{
    margin: auto;
    text-align: center;
    justify-content:center;
  
  }
  .pagination>li{
    padding: 4px 12px;
    border: 1px solid#0000001f;
    margin-left:5px;
    border-radius: 4px; 
  }
  .pagination>li:hover{
    background-color:#007bff96;
  }
  .pagination>li>a:hover{
    text-decoration: none;
  }
  .bolder{
    font-weight: bolder;
}

.bg-lightgray{
    background-color: lightgray !important;
}

/*------END----------pagination------------------------*/





/*=================================================================================*/
 /* ChiTiet.html*/
 .gallery{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
 .item_slide_detail{
    margin-bottom: 60px;
}
.chitiet{
    padding-bottom: 25px;
}
.chitiet{
    background-color: #00000000;
}

.ul_info_device li{
list-style: none;
}
.ul_info_device li label{
    width: 150px;
    padding-right:6px;
    font-family: 'Oswald', sans-serif;
    font-size:20px;
}
.ul_info_device li span{
    font-size:17px;
}
.detail_add_to_cart,.detail_buy_now{
    padding-top:20px;
    padding-top: 20px;
}
.info_device>p{
    margin-left:70px;
    color: #4070a4;
    font-weight: 600;
    font-size:25px;
}
.clearfix>p{
    color: #4070a4;
    font-weight: 600;
    font-size:25px;
}

/* -------------chỉnh 2 nút thêm vào giỏ hàng và mua nhanh----------------*/
.add_cart,.buy_now{
    background-color:#212529;
    border: none;
    padding:8px;

    color: white;
    font-family: 'Oswald', sans-serif;
}
.add_cart:hover{
    background-color: #dc3545;
    transition: 0.4s;

}
.buy_now:hover{
    background-color: #dc3545;
    transition: 0.4s;
}
/*------------end chỉnh 2 nút thêm vào giỏ hàng và mua nhanh---------------*/

.NenXam{
    background-color: #6c757d1f;
}
.NenXam .container{
    background-color: white;
    padding-top:30px;
    border: none;
}
@media (max-width:991px){
    .ul_info_device li label{
        width: 100px;
        padding-right:6px;
        font-size:17px;
    }
    .ul_info_device li span{
        font-size:15px;
    }
    .detail_add_to_cart,.detail_buy_now{
        padding-top:20px;
        padding-top: 20px;
    }
    .info_device>p{
        margin-left:70px;
        font-size:22px;
    }
    .clearfix>p{
        font-size:22px;
    }
    .add_cart,.buy_now{
        font-size:16px;
        padding:6px;
    
    }

}
@media (max-width:767px){
    .add_buy{
        padding-bottom: 20px;
    }
}
@media (max-width:329px){
    .ul_info_device li label{
        width:90px;
        font-size:12px;
    }
    .ul_info_device li span{
        font-size:9px;
    }
    .clearfix>p{
        font-size:20px;
    }
}


  /* -----------------------------------------TRANG ĐĂNG NHẬP-------------------------- */
  
.btn_login{
    background-color:#212529; 
    border-color:#212529; 
}
.login_area{
   background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),  url('../images/background_login.jpg');
   background-size: cover;
}
.dang_nhap{
    position: relative;
    
    width: 2000px;
    height: 800px;
   
}
.beta-form-checkout{
   position: absolute;
   top:19%;
   left: 20%;
   border:none;
   padding-top: 50px;
   padding-bottom: 50px;
   box-shadow: 5px 5px 5px #666;
   -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
 
    width: 60%;
    z-index: 3;
    background-color: white;
    border-radius:15px;
  
}
.forgot_password{
    text-decoration: none;
}
.forgot_password:hover{
   text-decoration: none;
}
.email,.password{
   width:130px;
   font-family: 'Roboto Slab', serif;
   font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
#email,#phone{
   width:250px;
}
.form_pass{
   margin-top:20px;
}
.fa-hand-point-right{
   font-size: 60px;
   
}
.icon_login{
   margin-top: 10%;
   margin-left: 100%;
}
.h4DangNhap{
   font-family: 'Roboto Slab', serif;
   font-size:40px;
   color: #c59e2bb3  
}
.formdangnhap1{
   margin-right: 10%;
   margin-left:18%;
}


@media (max-width:767px){

   .fa-hand-point-right{
       font-size: 50px;
       
   }
   .formdangnhap1{
       margin-right: 10%;
       margin-left:12%;
   }
}
@media (max-width:575px){
   .dang_nhap{ 
       width: 650px;
       height: 500px;
   }
   .beta-form-checkout{
       top:19%;
       left: 20%;
       padding-top: 40px;
       padding-bottom: 40px;
        width: 60%;     
   }
   .fa-hand-point-right{
       font-size: 50px;
       
   }
   
}
  /* --------------------------END---------------TRANG ĐĂNG NHẬP-------------------------- */



  /* -----------------------------------------TRANG ĐĂNG KÍ-------------------------- */
.btn_create_account{
    background-color:#212529; 
    border-color:#212529 ;
}
  .signup_area{
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),  url('../images/background_login.jpg');
    background-size: cover;
 }
  .dangki{
    position: relative;
    height: 800px;
}

.beta-form-checkout2{
    position: absolute;
    top:14%;
    left: 17%;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
   -webkit-box-shadow: 5px 5px 5px #666;
  
     width: 65%;
     z-index: 3;
     background-color: white;
     border-radius:15px;
   
}
.dangki2{
    width:130px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
     font-weight: 600;
}
.input_dangky{
    width:250px;
}
.icon_login1{
    margin-top: 30%;
    margin-left: 100%;
}
.back_point{
    list-style-type: none;
    margin-top: 10px;
}
.back_point li{
    display: inline-block
}
.one{
    margin-right: 100px;
    margin-left: -40px;
    margin-top: -20px;
}
.two{
 margin-left: 90px;
 
}
.form2{
    margin-left:21%;
    margin-right: 10%;
}
.quaytrove:hover{
    text-decoration: none;
}
.form-block{
    margin-bottom: 5px;
}
.dangkiii{
    font-family: 'Roboto Slab', serif;
    font-size:40px;
    color: #c59e2bb3
    
}


 @media (max-width:767px){
     .beta-form-checkout2{
       width: 85%;
       left: 7%;
     }

    .fa-hand-point-right{
        font-size: 50px;
        
    }
    .formdangnhap1{
        margin-right: 10%;
        margin-left:12%;
    }
 }
 @media (max-width:575px){

    .beta-form-checkout2{
        top:10%;
        left: 15%;
        padding-top: 30px;
        padding-bottom: 30px;
         width: 70%;     
    }
    .fa-hand-point-right{
        font-size: 50px;
        
    }
    
 }
 @media(max-width:490px){
     .form2{
         margin-left:45px;
     }

 }
 @media(max-width:440px){
    .form2{
        margin-left:30px;
    }

}
@media(max-width:420px){
    .form2{
        margin-left:20px;
    }
}
@media(max-width:390px){
    #email,#your_last_name,#adress,#phone,#pass-word{
        width:200px;
    }
    #pass-word{
        margin-bottom: 20px;
    }
}
/* ----------------------------------END-------TRANG ĐĂNG KÍ-------------------------- */


/* -----------------------------------------TRANG QUÊN MẬT KHẨU-------------------------- */
.forgot_pass_area{
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),  url('../images/background_login.jpg');
    background-size: cover;
}
 /* --------------------------------------END---TRANG QUÊN MẬT KHẨU-------------------------- */


/* ----------------------Giohang.html--------------------------*/
.Snippper_qty:focus{
    border-color: #ced4da;
    box-shadow: none;
  }
.detail_cart{
    background-color: #f4f4f4;
  
}
.giohang{
    /* margin-top: 20px; */
  
    padding-top:20px;
}
.address{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.info_cart{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
   
}
.btn_confirm_cart{
    margin-left: 10px;
    margin-right: 10px;
}
.cart_right{
    background-color: white;
    padding-bottom: 20px;
    margin-bottom:30px;
    
}
.cart_leftt{
    padding-bottom: 20px;
    margin-bottom:30px;
}
.iff{
    float:right;
}   
#Sum_cost{
    color: red;
    font-weight: 500;
}
#Sum_cost1{
    color: red;
    font-weight: 500;
}
.delete_itemt{
    float: right;
}
.choice{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
.choice>.row{
    margin-left: 2px;
    margin-right: 2px;
}
.list_item{
    margin-top:10px;
    background-color: #d4dce5;
    padding-top: 30px;
    padding-bottom:30px;
}
.list_item>.row{
    margin-left:0px;
}
.all_item_choice{
    margin-right: 10px;
    margin-left: 10px;
}
.img_cart{
    width:80px;
    height:80px;
}
.del_all{
    float:right;
    transition: 0.4s;
    margin-top:15px;
}
.del_all:hover {
    color: orangered;
    transition: 0.4s;
}
.fa-trash:hover{
    color: orangered;
    transition: 0.4s;
}
 /*  edit nút CheckBox */
.cchecck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .cchecck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  

 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid silver;
  }
  
  /* On mouse-over, add a grey background color */
  .cchecck:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .cchecck input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .cchecck input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .cchecck .checkmark:after {
    left: 9px;
    top: 2px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* End edit nút CheckBox */
/* edit nút tăng giảm số lượng*/
  .btncartsniper{
    background: #eee;
    border:none;
    height: 34px;
    width: 34px;
   
  }
.number-spinner{
    width:115px;
}
.form-control{
    height: 36px;
    margin-top:-1px;
}
/* End edit nút tăng giảm số lượng*/
  .size_info{
    font-size: 16px;
    font-weight:500;
    color: #0000009c;
}
  @media (max-width:991px){
   .location_user{
       font-size: 17px;
   }
   .address_user{
    font-size: 19x;
   }
   .size_info{
    font-size: 16px;
  
    }
    .info_cart_p{
        font-size: 17px;
    }
    #Sum_cost{
        font-size:17px;
    }
    #Sum_cost1{
        font-size:17px;
    }
    .btn_confirm_cart{
        font-size:19px;
    }
    .checkmark {
        height: 18px;
        width: 18px;
    
      }
      .cchecck .checkmark:after {
        left:5px;
        top: 0px;
        width: 6px;
        height: 13px;
       
      }
      .img_cart{
        width:70px;
        height:70px;
     
    }
    .name_item{
        font-size:17px;
        
    }
    .cost_item,.fa-trash{
        font-size:17px;
        
    }
    .cover_cost_del{
        margin-left:-40px;
    }
    .btncartsniper{
      
        height: 30px;
        width: 30px;
       
      }
    .number-spinner{
        width:110px;
    }
    .form-control{
        height: 32px;
        margin-top:-1px;
    }
      
}
@media (max-width:767px){
    
    .checkmark {
        height: 20px;
        width: 20px;
    
      }
      .cchecck .checkmark:after {
        left:5px;
        top: 0px;
        width: 6px;
        height: 13px;
       
      }
      .img_cart{
        width:90px;
        height:90px;
        margin-left:0px;
    }
    .name_item{
        font-size:20px;
        margin-left:10px;
    }
    .cost_item,.fa-trash{
        font-size:17px;
        
    }
    .cover_cost_del{
        margin-left:0px;
      
    }
    .btncartsniper{
      
        height: 30px;
        width: 30px;
       
      }
    .number-spinner{
        margin-left:20px;
        margin-top: 10px;
        width:110px;
    }
    .form-control{
        height: 32px;
        margin-top:-1px;
    }
 }
 @media (max-width:575px){
    
    .checkmark {
        height: 20px;
        width: 20px;
    
      }
    
      .img_cart{
        width:90px;
        height:90px;
        margin-left:40px;
        margin-top: -10px;
        
    }
    .name_item{
        font-size:20px;
        margin-left:150px;
        margin-top: -95px;
    }
    .cover_cost_del{
        margin-left:300px;
        margin-top: -90px;
      
    }
    .cost_item,.fa-trash{
        font-size:17px;
        
    }
    .btncartsniper{
      
        height: 30px;
        width: 30px;
       
      }
    .number-spinner{
        margin-left:20px;
        margin-top: 10px;
        width:110px;
    }
    .form-control{
        height: 32px;
        margin-top:-1px;
    }
 }
 @media (max-width:403px){
    
    .checkmark {
        height: 16px;
        width: 16px;
    
      }
     
      .img_cart{
        width:80px;
        height:80px;
        margin-left:40px;
        margin-top: -10px;
        
    }
    .name_item{
        font-size:17px;
        margin-left:130px;
        margin-top: -85px;
    }
    .cover_cost_del{
        margin-left:260px;
        margin-top: -80px;
      
    }
    .cost_item,.fa-trash{
        font-size:17px;
        
    }
    .btncartsniper{
      
        height: 30px;
        width: 30px;
       
      }
    .number-spinner{
        margin-left:20px;
        margin-top: 10px;
        width:110px;
    }
    .form-control{
        height: 32px;
        margin-top:-1px;
    }
    .del_all{
        margin-top: -20px;
    }
 }
 @media (max-width:362px){
    
    .checkmark {
        height: 14px;
        width: 14px;
    
      }
     
      .img_cart{
        width:60px;
        height:60px;
        margin-left:20px;
        margin-top: -10px;
        
    }
    .name_item{
        font-size:16px;
        margin-left:95px;
        margin-top: -65px;
    }
    .cover_cost_del{
        margin-left:210px;
        margin-top: -65px;
      
    }
    .cost_item,.fa-trash{
        font-size:16px;
        
    }
    .input-number{
        font-size: 14px;
    }
    .btncartsniper{
      
        height: 25px;
        width: 25px;
       
      }
    .number-spinner{
        margin-left:10px;
        margin-top: 10px;
        width:90px;
    }
    .form-control{
        height: 27px;
        margin-top:-1px;
    }
    .fa-minus,.fa-plus{
        font-size: 12px;
        position: relative;
        top:-5px
    }
    .del_all{
        margin-top: -20px;
    }
    
 }

 /* -------------PHẦN ĐÁNH GIÁ--------------- */
 /* rating */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*reset css*/
div,label{margin:0;padding:0;}

h1{font-size:4em;margin:10px;}
/****** Style Star Rating Widget *****/
#rating{border:none;float:left;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{margin:5px;font-size:2em;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating>.half:before{content:"\f089";position:absolute;}/*0.5 ngôi sao*/
#rating>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/


 /* -----END--------PHẦN ĐÁNH GIÁ--------------- */


 /* -------------TRANG SEARCH--------------- */
 .resutl_item_search{ 
     display:none;
 }
 #loadMore {
   
     color: white;
     cursor:pointer;
 }
 
 #showLess {
     color: white;
     cursor:pointer;
     display:none;
 }
 
 
 .list{
     opacity:0;
     visibility: hidden;
     display:none;
    
 }
 .notFind{
     font-family: 'Oswald', sans-serif;
    color: #dc3545e8;
 }
 .resultSearch{
     font-family: 'Oswald', sans-serif;
 }
 .btn_confirm_cart{
     opacity: 0;
 }
 .btn_visible_submit{
     opacity: 1;
     
 }
 .btn_confirm_cart{
     opacity: 0;
 }
 .btn_visible_submit{
     opacity: 1;
     
 }
  /* -----END--------TRANG SEARCH--------------- */

  /*=================================================================================*/
 /* DiemTin.html*/
.News_hot{
    background-image: url('../images/baner.jpg');
  }
  
  @media (max-width:991px){
     .img_News,.img_News>img{
      height:300px;
     }
  }
  @media (max-width:974px){
      .img_News,.img_News>img{
       height:270px;
      }
   }
   @media (max-width:575px){
      .img_News,.img_News>img{
       height:360px;
      }
      .news_tech{
          font-size: 24px;
      }
      .news_time{
          font-size: 22px;
      }
   }
   @media (max-width:359px){
      .img_News,.img_News>img{
       height:340px;
      }
      .news_tech{
          font-size: 23px;
      }
      .news_time{
          font-size: 20px;
      }
   }
   @media (max-width:320px){
      .img_News,.img_News>img{
       height:280px;
      }
      .news_tech{
          font-size: 20px;
      }
      .news_time{
          font-size: 18px;
      }
   }